/*------------------------------------------------------------------

[Emreport Stylesheet]

	Project:	Emreport
	Version:	1.0
	Author :	Huu Loc

-------------------------------------------------------------------*/



/*Command buttons.*/
a.win-command {
    display: inline-block;
    cursor: pointer;
    letter-spacing: 0.02em;
    vertical-align: middle;
}
a.win-command,
button.win-command {
    background: none;
    background-clip: border-box;
    height: auto; /* height is 88px (label) or 68px (no label) */
    padding: 12px 0; /* bottom dependent on label/img, 2px margin */
    margin: 0 5px;
    border: 0;
    min-width: 42px;
    text-align: center;
    font-size: 9pt;
    font-weight: normal;
    line-height: 16px;
}

a.win-hidefocus:focus,
button.win-hidefocus:focus {
    outline: none;
}

/*
Command button icons.
*/

.win-commandimage {
    font-family: "IcoMoon";
    letter-spacing: 0;

    /* Applications provide their own content, like &#xE0D5;. */
    vertical-align: middle;
    font-size: 14pt;
    margin: -2px;
    line-height: 40px; /* line-height must match the content box height */
    background-position: 0 0;
    /*background-origin: border-box;*/
    display: inline-block;
    /* Still 40px */
    width: 40px;
    height: 40px;
    background-size: 160px 80px;
}

/*
Command button "ring".
*/
.win-commandring,
a:hover .win-commandring,
a:active .win-commandring,
a.win-command:disabled .win-commandring,
a.win-command:disabled:active .win-commandring,
button:hover .win-commandring,
button:active .win-commandring,
button.win-command:disabled .win-commandring,
button.win-command:disabled:active .win-commandring {
    border-width: 2px;
    border-style: solid;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-clip: border-box;
}

a:hover:active .win-commandring,
a[aria-checked=true] .win-commandring,
a[aria-checked=true]:active .win-commandring,
a[aria-checked=true]:disabled .win-commandring,
a[aria-checked=true]:disabled:active .win-commandring,
button:hover:active .win-commandring,
button[aria-checked=true] .win-commandring,
button[aria-checked=true]:active .win-commandring,
button[aria-checked=true]:disabled .win-commandring,
button[aria-checked=true]:disabled:active .win-commandring {
    background-clip: border-box;
}

/*
Command button labels.
*/
a.win-command .win-label,
button.win-command .win-label {
    position: relative;
    line-height: 20px;
    display: block;
    max-width: 120px; /* 100px button, but allow for 2px margins and 4px padding on each side */
    padding-left: 4px;  /* 12px between buttons, 6px per side, minus 2px margins */
    padding-right: 4px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: keep-all;
    top: 1px;
}

a.win-command,
a.win-command:hover {
    text-decoration: none
}
a.active{
	color: #da4f49;
}

/* win-Command large*/
.win-commandimage-small{
	margin-right:-2px;
	width:20px;
	height:20px;
}
i[class^="icon-"].win-commandicon-small{
	font-size:10px;
	margin-top:-22px;
	margin-left:2px;
	margin-right:0;
	color:#0088cc;
}
/* win-Command large*/
.win-commandimage-large{
	margin-left: 20px;
	color: #da4f49;
	border: 2px solid;
	margin-right:-2px;
	width:80px;
	height:80px;
}
i[class^="icon-"].win-commandicon-large{
	color: #da4f49;
	font-size:60px;
	margin-top:20px;
	margin-left:2px;
	margin-right:0;
}
a.win-command .win-label-large{
	max-width: 140px;
	margin-top:10px;
	font-size: 16px;
}


/*--------------[1. Shortcuts / .shortcuts]-----------*/
.shortcuts {
	padding-bottom:6%;
	text-align: center;	
}

.shortcuts .shortcut { 
	position: relative;
	max-width: 100px;
	min-width: 100px;
	width:100px;
	height: 65px;
	display: inline-block;
	padding: 17px 0px;
	margin: 0 4% 3.4em;
	vertical-align: top;	
	text-decoration: none;

	background-color: #da4f49;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 500px;
}

.shortcuts .shortcut .shortcut-icon {
	margin-top: .35em;
	margin-bottom: .25em;
	font-size: 42px;
	color: #888;
}
.shortcuts .shortcut .shortcut-icon-hearder {
	font-size:80px;
	margin-left:-0px;
	margin-top:10px;
	color:#fff;
	text-shadow:1px 1px #888;
}

.shortcuts .shortcut:hover {
	background-color: #E29491;
}

.shortcuts .shortcut:hover .shortcut-icon {
	color: #666;
}

.shortcuts .shortcut-label {
	display: block;
	height: 20px;
	margin-top: 40px;
	font-size: 13px;
	font-weight: bold;
	color: #666;
	-moz-hyphens:auto;
-ms-hyphens:auto;
-webkit-hyphens:auto;
hyphens:auto;
}




/*------------------------------------------------------------------
[4. Action Table / .action-table]
*/

.action-table .btn-small {
	padding: 4px 5px 5px;
	
	font-size: 10px;
}

.action-table .td-actions { 
	width: 80px; 
	
	text-align: center; 
}

	.action-table .td-actions .btn { 
		margin-right: .5em;		
	}
	
	.action-table .td-actions .btn:last-child { 
		margin-rigth: 0; 		
	}
	
	
	
	
	
	
	
@media (max-width: 979px) {
	
	.shortcuts .shortcut {
		width: 31%;
	}
}




.modal-report{
	width: 1032px;
	margin: -250px auto 0 -500px;
}

.form-horizontal .search-emreport{
	width: 80%;
	color:#444;
	font-size:18px;
	height:24px;
}


/*------------------------------------------------------------------
[Widget / .widget]
*/

.widget {
	
	position: relative;
	clear: both;
	
	width: auto;
	
	margin-bottom: 1em;
	overflow: hidden;
}

	
.widget-header {
	height: 100%;
	line-height: 40px;
	padding-bottom: 3px;
	background-color: #f8f8f8;
	border: 1px solid #d4d4d4;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	
	-webkit-background-clip: padding-box;
}	
	
	.widget-header h3 {
		position: absolute;
		display: inline-block;
		margin-left:10px;
		font-size: 14px;
		color: #5A5A5A;
		line-height: 22px;
	}
	
		.widget-header [class^="icon-"], .widget-header [class*=" icon-"] {
			display: inline-block;
			margin-left: 13px;
			margin-right: -2px;
			font-size: 16px;
			color: #555;
			vertical-align: middle;
			
		}

.widget-boxsearch {
	box-shadow: 0px 8px 6px -6px #999;
}
.widget-content {
	padding: 20px 15px 15px;
	background-color: #f5f5f5;
	border: 1px solid #d4d4d4;
	
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
.widget-header+.widget-content {
	border-top: none;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.widget-nopad .widget-content {
	padding: 0;
}

/* Widget Content Clearfix */	
.widget-content:before,
.widget-content:after {
    content:"";
    display:table;
}

.widget-content:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.widget-content {
    zoom:1;
}

/* Widget Table */

.widget-table .widget-content {
	padding: 0;
}

.widget-table .table {
	margin-bottom: 0;
	
	border: none;
}

.widget-table .table tr td:first-child {
	border-left: none;
}

.widget-table .table tr th:first-child {
	border-left: none;
}


/*wysihtml5-toolbar*/
.widget-content .wysihtml5-toolbar{
	position: relative;
	text-align: center;
	margin-top: -10px;
}

/* Widget Plain */

.widget-plain {
	
	background: transparent;
	
	border: none;
}

.widget-plain .widget-content {
	padding: 0;
	
	background: transparent;
	
	border: none;
}


/* Widget Box */

.widget-box {	
	
}

.widget-box .widget-content {	
	background: #E3E3E3;	
	background: #FFF;
}

.table-bordered th {
	background-color: #f5f5f5;
}
.inline-text {
    position: absolute;
    margin-top: 3px;
}

/*!
* Datepicker for Bootstrap
*
* Copyright 2012 Stefan Petre
* Licensed under the Apache License v2.0
* http://www.apache.org/licenses/LICENSE-2.0
*
*/
.datepicker {
top: 0;
left: 0;
padding: 4px;
margin-top: 1px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
/*.dow {
border-top: 1px solid #ddd !important;
}*/
}
.datepicker:before {
content: '';
display: inline-block;
border-left: 7px solid transparent;
border-right: 7px solid transparent;
border-bottom: 7px solid #ccc;
border-bottom-color: rgba(0, 0, 0, 0.2);
position: absolute;
top: -7px;
left: 6px;
}
.datepicker:after {
content: '';
display: inline-block;
border-left: 6px solid transparent;
border-right: 6px solid transparent;
border-bottom: 6px solid #ffffff;
position: absolute;
top: -6px;
left: 7px;
}
.datepicker > div {
display: none;
}
.datepicker table {
width: 100%;
margin: 0;
}
.datepicker td, .datepicker th {
text-align: center;
width: 20px;
height: 20px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
.datepicker td.day:hover {
background: #eeeeee;
cursor: pointer;
}
.datepicker td.old, .datepicker td.new {
color: #999999;
}
.datepicker td.active, .datepicker td.active:hover {
background-color: #006dcc;
background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
background-image: -o-linear-gradient(top, #0088cc, #0044cc);
background-image: linear-gradient(top, #0088cc, #0044cc);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
border-color: #0044cc #0044cc #002a80;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
color: #fff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td.active:hover,
.datepicker td.active:hover:hover,
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active,
.datepicker td.active.disabled,
.datepicker td.active:hover.disabled,
.datepicker td.active[disabled],
.datepicker td.active:hover[disabled] {
background-color: #0044cc;
}
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active {
background-color: #003399 \9;
}
.datepicker td span {
display: block;
width: 47px;
height: 54px;
line-height: 54px;
float: left;
margin: 2px;
cursor: pointer;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
.datepicker td span:hover {
background: #eeeeee;
}
.datepicker td span.active {
background-color: #006dcc;
background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
background-image: -o-linear-gradient(top, #0088cc, #0044cc);
background-image: linear-gradient(top, #0088cc, #0044cc);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
border-color: #0044cc #0044cc #002a80;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
color: #fff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td span.active:hover,
.datepicker td span.active:active,
.datepicker td span.active.active,
.datepicker td span.active.disabled,
.datepicker td span.active[disabled] {
background-color: #0044cc;
}
.datepicker td span.active:active, .datepicker td span.active.active {
background-color: #003399 \9;
}
.datepicker td span.old {
color: #999999;
}
.datepicker th.switch {
width: 145px;
}
.datepicker thead tr:first-child th {
cursor: pointer;
}
.datepicker thead tr:first-child th:hover {
background: #eeeeee;
}
.input-append.date .add-on i, .input-prepend.date .add-on i {
display: block;
cursor: pointer;
width: 16px;
height: 16px;
}




/* Responsive-table */
/* Artfully masterminded by ZURB  */

table th { font-weight: bold; }
table td, table th { padding: 9px 10px; text-align: left; }

/* Mobile */
@media only screen and (max-width: 767px) {
	
	table.responsive { margin-bottom: 0; }
	
	.pinned { position: absolute; left: 0; top: 0; background: #fff; width: 35%; overflow: hidden; overflow-x: scroll; border-right: 1px solid #ccc; border-left: 1px solid #ccc; }
	.pinned table { border-right: none; border-left: none; width: 100%; }
	.pinned table th, .pinned table td { white-space: nowrap; }
	.pinned td:last-child { border-bottom: 0; }
	
	div.table-wrapper { position: relative; margin-bottom: 20px; overflow: hidden; border-right: 1px solid #ccc; }
	div.table-wrapper div.scrollable table { margin-left: 35%; }
	div.table-wrapper div.scrollable { overflow: scroll; overflow-y: hidden; }	
	
	table.responsive td, table.responsive th { position: relative; white-space: nowrap; overflow: hidden; }
	table.responsive th:first-child, table.responsive td:first-child, table.responsive td:first-child, table.responsive.pinned td { display: none; }
	
}

