/*------------------------------------------------------------------

[Emreport Stylesheet]

	Project:	Base Admin
	Version:	1.0
	Author :	Huu Loc



[Table of contents]

	1. Shortcuts
	2. Stats
	3. Task List
	4. News Item

-------------------------------------------------------------------*/




/*--------------  Global initial-----------*/

body {
	padding-top:90px;
	font: 13px/1.7em 'Open Sans';
	background-image: url(../img/bgnoise.png);
}
p { 
	font: 13px/1.7em 'Open Sans'; 	
}
    
input,
button,
select,
textarea {
  font-family: 'Open Sans';
}


/* Nav bar header*/
.nav-header {
	height: auto;
	line-height: 37px;
	padding-bottom: 3px;
	background-image:url('../img/body-bg.png');
	background-color: #e3e3e3;
	background-repeat: repeat-x;

	border: 1px solid #D5D5D5;
	
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	
	-webkit-background-clip: padding-box;
	box-shadow: 0px 5px 7px -6px #333;
}

/*Command buttons.*/
a.win-command {
    display: inline-block;
    cursor: pointer;
    letter-spacing: 0.02em;
    vertical-align: middle;
}
a.win-command,
button.win-command {
    background: none;
    background-clip: border-box;
    height: auto; /* height is 88px (label) or 68px (no label) */
    padding: 12px 0; /* bottom dependent on label/img, 2px margin */
    margin: 0 5px;
    border: 0;
    min-width: 42px;
    text-align: center;
    font-size: 9pt;
    font-weight: normal;
    line-height: 16px;
}

a.win-hidefocus:focus,
button.win-hidefocus:focus {
    outline: none;
}

/*
Command button icons.
*/

.win-commandimage {
    font-family: "IcoMoon";
    letter-spacing: 0;

    /* Applications provide their own content, like &#xE0D5;. */
    vertical-align: middle;
    font-size: 14pt;
    margin: -2px;
    line-height: 40px; /* line-height must match the content box height */
    background-position: 0 0;
    /*background-origin: border-box;*/
    display: inline-block;
    /* Still 40px */
    width: 40px;
    height: 40px;
    background-size: 160px 80px;
}

/*
Command button "ring".
*/
.win-commandring,
a:hover .win-commandring,
a:active .win-commandring,
a.win-command:disabled .win-commandring,
a.win-command:disabled:active .win-commandring,
button:hover .win-commandring,
button:active .win-commandring,
button.win-command:disabled .win-commandring,
button.win-command:disabled:active .win-commandring {
    border-width: 2px;
    border-style: solid;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-clip: border-box;
}

a:hover:active .win-commandring,
a[aria-checked=true] .win-commandring,
a[aria-checked=true]:active .win-commandring,
a[aria-checked=true]:disabled .win-commandring,
a[aria-checked=true]:disabled:active .win-commandring,
button:hover:active .win-commandring,
button[aria-checked=true] .win-commandring,
button[aria-checked=true]:active .win-commandring,
button[aria-checked=true]:disabled .win-commandring,
button[aria-checked=true]:disabled:active .win-commandring {
    background-clip: border-box;
}

/*
Command button labels.
*/
a.win-command .win-label,
button.win-command .win-label {
    position: relative;
    line-height: 20px;
    display: block;
    max-width: 120px; /* 100px button, but allow for 2px margins and 4px padding on each side */
    padding-left: 4px;  /* 12px between buttons, 6px per side, minus 2px margins */
    padding-right: 4px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: keep-all;
    top: 1px;
}

a.win-command,
a.win-command:hover {
    text-decoration: none
}
a.active{
	color: #da4f49;
}

/* win-Command large*/
.win-commandimage-small{
	margin-right:-2px;
	width:20px;
	height:20px;
}
i[class^="icon-"].win-commandicon-small{
	font-size:10px;
	margin-top:-22px;
	margin-left:2px;
	margin-right:0;
	color:#0088cc;
}
/* win-Command large*/
.win-commandimage-large{
	margin-left: 20px;
	color: #da4f49;
	border: 3px solid;
	margin-right:-2px;
	width:80px;
	height:80px;
}
i[class^="icon-"].win-commandicon-large{
	color: #da4f49;
	font-size:60px;
	margin-top:20px;
	margin-left:2px;
	margin-right:0;
	text-shadow: 1px 1px #888;
}
a.win-command .win-label-large{
	max-width: 140px;
	margin-top:10px;
	font-size: 16px;
}


/*--------------[1. Shortcuts / .shortcuts]-----------*/
.shortcuts {
	padding-bottom:6%;
	text-align: center;	
}

.shortcuts .shortcut { 
	position: relative;
	max-width: 100px;
	min-width: 100px;
	width:100px;
	height: 65px;
	display: inline-block;
	padding: 17px 0px;
	margin: 0 4% 3.4em;
	vertical-align: top;	
	text-decoration: none;

	background-color: #da4f49;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 500px;
}

.shortcuts .shortcut .shortcut-icon {
	margin-top: .35em;
	margin-bottom: .25em;
	font-size: 42px;
	color: #888;
}
.shortcuts .shortcut .shortcut-icon-hearder {
	font-size:80px;
	margin-left:-0px;
	margin-top:10px;
	color:#fff;
	text-shadow:1px 1px #888;
}

.shortcuts .shortcut:hover {
	background-color: #E29491;
}

.shortcuts .shortcut:hover .shortcut-icon {
	color: #666;
}

.shortcuts .shortcut-label {
	display: block;
	height: 20px;
	margin-top: 40px;
	font-size: 13px;
	font-weight: bold;
	color: #666;
	-moz-hyphens:auto;
-ms-hyphens:auto;
-webkit-hyphens:auto;
hyphens:auto;
}









/*------------------------------------------------------------------
[3. News Item / .news-items]
*/

.news-items {
	margin: 1em 0 0;
}

.news-items li {
	display: table;
	padding: 0 2em 0 1.5em;
	padding-bottom: 1em;
	margin-bottom: 1em;
	
	border-bottom: 1px dotted #CCC;
}

.news-items li:last-child { padding-bottom: 0; border: none; }

.news-item-date {
	display: table-cell;
}

.news-item-detail {
	display: table-cell;
}

.news-item-title {
	font-size: 13px;
	font-weight: 600;
}

.news-item-date {
	width: 75px;
	vertical-align: middle;
	
	text-align: right;
}

.news-item-day {
	display: block;
	margin-bottom: .25em;
	
	font-size: 24px;
	color: #888;
}

.news-item-preview {
	margin-bottom: 0;
	
	color: #777;
}

.news-item-month {
	display: block;
	padding-right: 1px;	
	
	font-size: 12px;
	font-weight: 600;
	color: #888;
}



/*------------------------------------------------------------------
[4. Action Table / .action-table]
*/

.action-table .btn-small {
	padding: 4px 5px 5px;
	
	font-size: 10px;
}

.action-table .td-actions { 
	width: 80px; 
	
	text-align: center; 
}

	.action-table .td-actions .btn { 
		margin-right: .5em;		
	}
	
	.action-table .td-actions .btn:last-child { 
		margin-rigth: 0; 		
	}
	
	
	
	
	
	
	
@media (max-width: 979px) {
	
	.shortcuts .shortcut {
		width: 31%;
	}
}




.modal-report{
	width: 1032px;
	margin: -250px auto 0 -500px;
}

.form-horizontal .search-emreport{
	width: 80%;
	color:#444;
	font-size:18px;
	height:24px;
}

.table-report{
	width:1024;
	margin-left:20px;
}
.thumbnail .caption-top {
	text-align: center;
	border: 1px solid #3079ED;
	background-color: #4b8cf7;
	background-color: #4b8cf7;
	background-image: -moz-linear-gradient(top, #4d90fe, #4787ed);
	background-image: -ms-linear-gradient(top, #4d90fe, #4787ed);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4d90fe), to(#4787ed));
	background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
	background-image: -o-linear-gradient(top, #4d90fe, #4787ed);
	background-image: linear-gradient(top, #4d90fe, #4787ed);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d90fe', endColorstr='#4787ed', GradientType=0);
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
            border-radius: 2px;
	color: white;
	padding: 8px;
}
.thumbnail .caption-bottom {
	margin: 0px -5px -5px -5px;
	color: white;
	padding: 5px;
}
.caption-bottom  a {
	margin-left: auto ;
  margin-right: auto ;
}


/*------------------------------------------------------------------
[Widget / .widget]
*/

.widget {
	
	position: relative;
	clear: both;
	
	width: auto;
	
	margin-bottom: 1em;
	overflow: hidden;
}

	
.widget-header {
	position: relative;
	height: auto;
	line-height: 37px;
	padding-bottom: 3px;
	background-image:url('../img/body-bg.png');
	background-color: #e3e3e3;
	background-repeat: repeat-x;

	border: 1px solid #D5D5D5;
	
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	
	-webkit-background-clip: padding-box;
	box-shadow: 0px 5px 7px -6px #999;
}	
	
	.widget-header h3 {
		
		position: absolute;
		top: 10px;
		left: 30px;
		
		display: inline-block;
		margin-right: 5px;
		margin-bottom: 15px;
		margin-left:10px;
		font-size: 14px;
		font-weight: bold;
		color: #555;
		line-height: 16px;
		text-shadow:1px 1px 2px rgba(255, 255, 255, .5);
	}
	
		.widget-header [class^="icon-"], .widget-header [class*=" icon-"] {
			
			display: inline-block;
			margin-left: 13px;
			margin-right: -2px;
			font-size: 16px;
			color: #555;
			vertical-align: middle;
			
		}
	.widget-header-right{
		float:right;
		margin-right: 10px;
		margin-top: -8px;
		color: #0088cc;
		text-decoration: none;
	}

.inline-text {
    position: absolute;
    margin-top: 3px;
}
.widget-boxsearch {
	box-shadow: 0px 8px 6px -6px #666;
}
.widget-content {
	padding: 20px 15px 15px;
	
	background: #FFF;
	
	border: 1px solid #D5D5D5;
	
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background-image:url('../img/body-bg.png');
}
.widget-content-boxsearch{
	background-image:url('../img/body-bg.png');
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	border-top:none;padding-bottom:0px
}

.widget-header+.widget-content {
	border-top: none;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.widget-nopad .widget-content {
	padding: 0;
}

/* Widget Content Clearfix */	
.widget-content:before,
.widget-content:after {
    content:"";
    display:table;
}

.widget-content:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.widget-content {
    zoom:1;
}

/* Widget Table */

.widget-table .widget-content {
	padding: 0;
}

.widget-table .table {
	margin-bottom: 0;
	
	border: none;
}

.widget-table .table tr td:first-child {
	border-left: none;
}

.widget-table .table tr th:first-child {
	border-left: none;
}


/*wysihtml5-toolbar*/
.widget-content .wysihtml5-toolbar{
	position: relative;
	text-align: center;
	margin-top: -10px;
}

/* Widget Plain */

.widget-plain {
	
	background: transparent;
	
	border: none;
}

.widget-plain .widget-content {
	padding: 0;
	
	background: transparent;
	
	border: none;
}


/* Widget Box */

.widget-box {	
	
}

.widget-box .widget-content {	
	background: #E3E3E3;	
	background: #FFF;
}

.table-bordered th {
	background-image: url(../img/bgnoise.png);
	font-size: 10px;
	color: #444;
	font-weight: 800;
	text-transform: uppercase;
}
.table-striped th {
	background: #E9E9E9;
	background:-moz-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#E9E9E9)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* Opera11.10+ */
	background:-ms-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* IE10+ */
	background:linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
	font-size: 10px;
	color: #444;
	text-transform: uppercase;
}

.control-label {
  font-weight: bold;
}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        